.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}
